<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>demo6</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  
  <!-- 引入连接池配置 -->
  
  <resource-ref>
  
  	<!-- 连接数据源的名称 -->
  	<res-ref-name>testJNDI</res-ref-name>
  	
  	<!-- 连接数据源的类型 -->
  	<res-type>javax.sql.DataSource</res-type>
  	
  	<!-- 管理对象 -->
  	<res-auth>Container</res-auth>
  </resource-ref>
</web-app>